.about-header {
    background: rgba(0, 0, 0, 0.4) url('https://ajfan.store/cdn/shop/files/top-view-autumnal-bowl-with-pine-cones-copy-space_4_O1.png?v=1701157595') no-repeat center center;
    background-size: cover;
    background-blend-mode: darken;
    color: #fff;
    padding: 100px 0;
    height: 50vh;
  }
  .row.featurette {
    width: 100%;
    padding: 50px;
}
.footer {
  background-color: #f9f9f9;
  padding: 40px 0;
  color: #333;
}
.footer h5 {
  color: #6b4226;
  margin-bottom: 20px;
  font-weight: bold;
}
.footer a {
  color: #333;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .social-icons i {
  font-size: 1.5rem;
  color: #6b4226;
  margin-right: 15px;
}
.footer .social-icons i:hover {
  color: #333;
}
.footer-bottom {
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

/* images */
img.card-img-top {
  height: 210px;
}


.testimonial {
  margin: 30px 0;
}
.testimonial p {
  font-size: 16px;
  font-style: italic;
}
.testimonial .name {
  font-weight: bold;
  margin-top: 10px;
}
.testimonial .stars {
  color: gold;
}

.featurette {
  display: flex;
  padding: 50px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.featurette-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #6b4226;
  margin-bottom: 20px;
}
.featurette p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.5;
}
.featurette-background {
  background: url('https://images.unsplash.com/photo-1610971540056-758e2ad3d6c5') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
}